.cart-page-container {
  width: 100%;
}

.cart-page-container header {
  width: 100%;
  height: 200px;
  background: url("../../assets/img/cart-page-bg.jpg");
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-page-overlay-bg {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.cart-page-close {
  text-align: end;
  font-size: 1.3rem;
  color: azure;
  padding: 20px;
  margin-bottom: 20px;
}

.cart-page-header-title h1 {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 20px;
}
