.welcome-section-container {
  width: 100%;
  height: 100%;
  background: url("../../assets/img/hero-section-backgroung.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  color: #fffafa;
}

.hero-title-section {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  width: 50%;
  height: 100%;
  margin-top: 9rem;
  text-align: center;
}
.hero-title h1 {
  font-size: 3rem;
  line-height: 50px;
}
.hero-title p {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 15px;
  line-height: 21px;
}

.hero-image img {
  width: 340px;
  height: auto;
}

.hero-section-buttons {
  display: flex;
  justify-content: space-between;

  padding-bottom: 4rem;
}

.hero-section-buttons a {
  margin-right: 20px;
}

@media screen and (max-width: 940px) {
  .hero-title {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .hero-title-section {
    padding: 0px;
  }

  .hero-title {
    height: auto;
    margin-top: 6rem;
  }

  .hero-title h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .hero-title p {
    padding-top: 40px;
    padding-bottom: 34px;
  }
}

@media screen and (max-width: 600px) {
  .welcome-section-container {
    background-attachment: inherit;
  }
  .hero-title h1 {
    font-size: 2.2rem;
  }
  .hero-title p {
    padding-top: 20px;
    padding-bottom: 17px;
  }
}

@media screen and (max-width: 420px) {
  .hero-title {
    margin-top: 8rem;
  }
  .about-us-details p {
    line-height: 20px;
  }
}
@media screen and (max-width: 280px) {
  .hero-section-buttons a {
    margin: 2px;
  }
}
