* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .hidden-text {
    display: none;
  }
}

/* ---------Food Card----------- */

.chevron-container {
  width: 20px;
  height: 20px;
  border: #d1d1d1 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

.card {
  width: 15rem;
  height: 21rem;
  border: #d1d1d1 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
  width: 100%;
  height: 11rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content-container {
  padding: 6px;
}

.food-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.food-decription {
  font-size: 0.7rem;
  padding: 3px 0;
  line-height: 15px;
}

.card-btn {
  padding: 5px;
}

.card-btn a {
  text-decoration: none;
  background-color: #008000;
  color: azure;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 960px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 0;
    justify-items: center;
    margin: 10px 0;
  }
}

@media screen and (max-width: 650px) {
  .card {
    width: 13rem;
  }
  .food-decription {
    font-size: 0.6rem;
    line-height: 14px;
  }
  .food-name {
    font-size: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .image-container {
    height: 10rem;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .food-decription {
    font-size: 0.6rem;
    line-height: 19px;
    padding: 13px 0;
  }

  .card {
    width: 60%;
    height: 22rem;
  }
}

@media screen and (max-width: 440px) {
  .food-name {
    font-size: 0.9rem;
  }
  .food-decription {
    line-height: 17px;
    padding: 12px 0;
  }
}

@media screen and (max-width: 414px) {
  .card {
    width: 80%;
  }
  .food-decription {
    line-height: 14px;
    padding: 12px 0;
  }
}
